<!-- <p>observablelist works!</p>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Price</th>
            <th>Title</th>
            <th>Quantity</th>
            <th>Expiry Date</th>
            <th>In Stock</th>
            <th>Color</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of productlists">
            <td>{{p.id}}</td>
            <td>{{p.price}}</td>
            <td>{{p.title}}</td> 
            <td>{{p.quantity}}</td> 
            <td>{{p.colour}}</td> 
            <td>{{p.expiryDate}}</td>
            <td>{{p.inStock}}</td> <button (click)='deleteProd(p.id)'>Delete</button>
        </tr>
    </tbody>
</table> -->
<br>
<br>

  <div class="col-md-12">
    <table mat-table [dataSource]="productlists" class="mat-elevation-z8">
        <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let user"> {{user.id}} </td>
        </ng-container>
        <ng-container matColumnDef="TITLE">
            <th mat-header-cell *matHeaderCellDef> TITLE </th>
            <td mat-cell *matCellDef="let user"> {{user.title}} </td>
        </ng-container>
        <ng-container matColumnDef="PRICE">
            <th mat-header-cell *matHeaderCellDef> PRICE </th>
            <td mat-cell *matCellDef="let user"> {{user.price}} </td>
        </ng-container>
        <ng-container matColumnDef="QUANTITY">
            <th mat-header-cell *matHeaderCellDef> QUANTITY </th>
            <td mat-cell *matCellDef="let user"> {{user.quantity}} </td>
        </ng-container>
        <ng-container matColumnDef="COLOR">
            <th mat-header-cell *matHeaderCellDef> COLOR </th>
            <td mat-cell *matCellDef="let user"> {{user.colour}} </td>
        </ng-container>
        <ng-container matColumnDef="INSTOCK">
            <th mat-header-cell *matHeaderCellDef> INSTOCK </th>
            <td mat-cell *matCellDef="let user"> {{user.inStock}} </td>
        </ng-container>
        <ng-container matColumnDef="EXPIRYDATE">
            <th mat-header-cell *matHeaderCellDef> EXPIRYDATE </th>
            <td mat-cell *matCellDef="let user"> {{user.expiryDate}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color: #949392; color: aliceblue;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
