<!-- <p>update works!</p>?
<div class="container">
    <h2 class="text-center">UPDATING DATA</h2>
    <hr />
    <hr />
    <div class="form-row" id="row1">
        <div class="form-group col-md-3"></div>
        <div class="form-group col-md-6">
            <form (ngSubmit)="updatedata()" [formGroup]="updateproductform" novalidate class="form">
                <mat-card>
                    Id :
                    <input formControlName="id" type="number" class="form-control" placeholder="Eg: 1" />
                    <div class="alert alert-danger" *ngIf="
              updateproductform?.get('id')?.hasError('required') &&
              updateproductform?.get('id')?.touched
            ">
                        Id Required
                    </div>
                </mat-card>
                <br /><br />
                <div *ngIf="div">
                    <div class="form-group">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-product-hunt text-dark"></i>
                                </div>
                            </div>
                            <input formControlName="title" type="text" class="form-control" placeholder="Eg: Books" />
                            <div class="alert alert-danger" *ngIf="
                  updateproductform?.get('title')?.hasError('required') &&
                  updateproductform?.get('title')?.touched
                ">
                                Title Required
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-tasks text-dark"></i>
                                </div>
                            </div>
                            <input formControlName="quantity" type="number" class="form-control" placeholder="Eg: 40" />
                            <div class="alert alert-danger" *ngIf="
                  !updateproductform?.get('quantity')?.valid &&
                  updateproductform?.get('quantity')?.touched
                ">
                                Quantity Required
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-money text-dark"></i>
                                </div>
                            </div>
                            <input formControlName="price" type="number" class="form-control" placeholder="Eg: 70" />
                            <div class="alert alert-danger" *ngIf="
                  !updateproductform?.get('price')?.valid &&
                  updateproductform?.get('price')?.touched &&
                  updateproductform?.get('price')?.errors?.priceerror
                ">
                                Price Required And Should be between {{ min }} to {{ max }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-paint-brush text-dark"></i>
                                </div>
                            </div>
                            <input formControlName="color" type="text" class="form-control" placeholder="Eg: red" />
                            <div class="alert alert-danger" *ngIf="
                  !updateproductform?.get('color')?.valid &&
                  updateproductform?.get('color')?.touched
                ">
                                Color Required
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>
                            </div>
                            <input formControlName="expiryDate" type="text" class="form-control"
                                placeholder="Eg: dd--mm--yyyy" />
                            <div class="alert alert-danger" *ngIf="
                  !updateproductform?.get('expiryDate')?.valid &&
                  updateproductform?.get('expiryDate')?.touched
                ">
                                ExpiryDate Required
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                </div>
                            </div>
                            
                            <input formControlName="inStock" type="boolean" class="form-control"
                                placeholder="Eg: true/false" />
                            <div class="alert alert-danger" *ngIf="
                  !updateproductform?.get('inStock')?.valid &&
                  updateproductform?.get('inStock')?.touched
                ">
                                Avalaibility Required
                            </div>
                    </div>
                    </div>
                    <button type="button" (click)="findproduct()" *ngIf="y" mat-fab color="primary"
                        aria-label="Example icon button with a delete icon">
                        <i class="fa fa-search" aria-hidden="true">search</i>
                    </button>
                    <button type="submit" *ngIf="x" [disabled]="updateproductform.invalid" mat-fab color="primary"
                        aria-label="Example icon button with a delete icon">
                        <i class="fa fa-search" aria-hidden="true"></i></button>&nbsp;&nbsp;&nbsp;
                    <button type="button" (click)="reset()" mat-fab color="primary"
                        aria-label="Example icon button with a delete icon">
                        <mat-icon>restart_alt</mat-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div> -->
<!-- <p>delete works!</p> -->
<br>
<br>
<div class="container">
    <h2 class="text-center">UPDATING DATA</h2>
    <hr />
    <hr />
    <div class="form-row" id="row1">
        <div class="form-group col-md-3"></div>
        <div class="form-group col-md-6">
            <form (ngSubmit)="updatedata()" [formGroup]="updateproductform" novalidate class="form">
                <mat-card>Id :<input formControlName="id" type="number" class="form-control" placeholder="Eg: 1" />
                    <div class="alert alert-danger" *ngIf="
              updateproductform?.get('id')?.hasError('required') &&
              updateproductform?.get('id')?.touched
            ">
                        Id Required
                    </div> </mat-card>
                <br />
                <div *ngIf="div">
                    <div class="form-group">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-product-hunt text-dark"></i>
                                </div>
                            </div>
                            <input formControlName="title" type="text" class="form-control"  />
                            <div class="alert alert-danger" *ngIf="
                            updateproductform?.get('title')?.hasError('required') &&
                            updateproductform?.get('title')?.touched
                          ">
                                          Title Required
                                      </div></div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-tasks text-dark"></i>
                                </div>
                            </div>
                            <input formControlName="quantity" type="number" class="form-control"  />
                            <div class="alert alert-danger" *ngIf="
                  !updateproductform?.get('quantity')?.valid &&
                  updateproductform?.get('quantity')?.touched
                ">
                                Quantity Required
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-money text-dark"></i>
                                </div>
                            </div>
                            <input formControlName="price" type="number" class="form-control"  />
                            <div class="alert alert-danger" *ngIf="
                            !updateproductform?.get('price')?.valid &&
                            updateproductform?.get('price')?.touched &&
                            updateproductform?.get('price')?.errors?.priceerror
                          ">
                                          Price Required And Should be between {{ min }} to {{ max }}
                                      </div> </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-paint-brush text-dark"></i>
                                </div>
                            </div>
                            <input formControlName="colour" type="text" class="form-control"  />
                            <div class="alert alert-danger" *ngIf="
                            !updateproductform?.get('color')?.valid &&
                            updateproductform?.get('color')?.touched
                          ">
                                          Color Required
                                      </div> </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>
                            </div>
                            <input formControlName="expiryDate" type="text" class="form-control"  />
                            <div class="alert alert-danger" *ngIf="
                            !updateproductform?.get('expiryDate')?.valid &&
                            updateproductform?.get('expiryDate')?.touched
                          ">
                                          ExpiryDate Required
                                      </div> </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                </div>
                            </div>
                            <input formControlName="inStock" type="boolean" class="form-control"  />
                            <div class="alert alert-danger" *ngIf="
                            !updateproductform?.get('inStock')?.valid &&
                            updateproductform?.get('inStock')?.touched
                          ">
                                          Avalaibility Required
                                      </div></div>
                    </div>
                    <br />
                </div>

                <!-- <button type="button" (click)="findproduct()" *ngIf="y" 
                    aria-label="Example icon button with a delete icon" >
                     <i class="fa fa-search" aria-hidden="true"></i> search
                </button> -->
                <button mat-raised-button color="primary" type="button" (click)="findproduct()" *ngIf="y">Search</button>
                <button type="submit" *ngIf="x" [disabled]="updateproductform.invalid" mat-fab color="primary"
                    aria-label="Example icon button with a delete icon">
                    Update</button>&nbsp;&nbsp;&nbsp;
                <button type="button" (click)="reset()" mat-fab color="warn" 
                    aria-label="Example icon button with a delete icon">
                    <mat-icon>restart_alt</mat-icon>
                </button>
            </form>
        </div>
    </div>
</div>